
/* Remove autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px hsl(var(--input)) inset !important;
  -webkit-text-fill-color: hsl(var(--input-foreground)) !important;
  caret-color: hsl(var(--input-foreground));
  transition: background-color 5000s ease-in-out 0s;
  font-family: 'Poppins', system-ui, sans-serif;
}

/* Dark mode specific autofill styles */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px hsl(var(--input)) inset !important;
  -webkit-text-fill-color: hsl(var(--input-foreground)) !important;
}

